body{
	font-family: sans-serif;
	background: gray;
}
 
h1{
	text-align: center;
	/*ketebalan font*/
	font-weight: 300;
}
 
h3{
	text-align: center;
	/*membuat semua huruf menjadi kapital*/
	text-transform: uppercase;
}
 
.card{
	width: 350px;
	background: white;
	/*meletakkan form ke tengah*/
	margin: 100px auto;
	padding: 30px 20px;
}
 
label{
	font-size: 11pt;
}
 
.form-control{
	/*membuat lebar form penuh*/
	box-sizing : border-box;
	width: 100%;
	padding: 10px;
	font-size: 11pt;
	margin-bottom: 20px;
}
 
.tombol{
	background: blue;
	color: white;
	font-size: 10pt;
	width: 100%;
	border: none;
	border-radius: 3px;
    padding: 10px 20px;
    margin-top:10px;
}
 
.link{
	color: #232323;
	text-decoration: none;
	font-size: 10pt;
}